.card-text {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 1920px) {
  .container-fluid {
    width: 1899px;
    margin-left: auto;
    margin-right: auto;
  }
}
